<div class="container" ng-controller='LoginController'>
	<h1>{{greeting}}</h1>
	<div ng-show="!loggedIn()">
		Please log in</br>
		<form ng-submit="login()">
			Email: <input type="text" ng-model="email" /><br /> Password: <input
				type="password" ng-model="password" /><br /> <input type="submit"
				value="Login" />
		</form>
		<div>
			<a href="#!register">Register new account</a>
		</div>
	</div>
	<div class="alert alert-danger" role="alert"
		ng-show="error.data.message">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span> {{error.data.message}}
	</div>
	<div ng-show="loggedIn()">
		<div class="row">
			<div class="col-md-6">
				<h3>
					<span class="label label-success">Success!</span> Welcome
					{{userEmail}}
				</h3>
				<a href ng-click="logout()">(logout)</a>
			</div>
		</div>
	</div>
</div>

